#!/bin/bash

set -x

export KUBECONFIG="/tmp/kubeconfig.yaml"
if [ ! -r "/tmp/kubeconfig.yaml" ]; then
KUBECONFIG="/tmp/kubeconfig.yaml.$$$" gcloud container clusters get-credentials ${cluster_name} --project=${project_id} --region=${region}
mv -f "/tmp/kubeconfig.yaml.$$$" "/tmp/kubeconfig.yaml"
fi

if [ "${parallel}" -ne "0" ]; then
kubectl apply -f - <<EOF
${job_config}
EOF
fi

kubectl apply -f -<<EOF
${controller_config}
EOF
